### Python and Parquet

https://www.confessionsofadataguy.com/python-and-apache-parquet-yes-please/

download Chicago crimes file at https://catalog.data.gov/dataset

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("crimes_1yr.csv")

In [11]:
df.head()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,...,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,JB234215,04/23/2018 05:09:00 AM,034XX W LEXINGTON ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,APARTMENT,N,Y,1133,...,1153536.0,1896488.0,41.871803,-87.711777,"(41.871803218, -87.711776916)",36.0,21572.0,28.0,685.0,14.0
1,JB252109,04/23/2018 05:27:00 AM,096XX S MERRION AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,N,Y,431,...,1192667.0,1841619.0,41.720372,-87.569902,"(41.720371905, -87.569902327)",43.0,21202.0,48.0,252.0,37.0
2,JB234739,04/23/2018 05:30:00 AM,088XX S MARSHFIELD AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,N,N,2221,...,1166885.0,1846110.0,41.733284,-87.664207,"(41.73328448, -87.664207228)",18.0,21554.0,70.0,488.0,13.0
3,JB235067,04/23/2018 05:45:00 AM,007XX E 83RD PL,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,N,N,632,...,1182553.0,1849881.0,41.743284,-87.606691,"(41.743283936, -87.606691467)",31.0,21546.0,40.0,140.0,32.0
4,JB234240,04/23/2018 05:45:00 AM,0000X W 69TH ST,0820,THEFT,$500 AND UNDER,CTA TRAIN,N,N,731,...,1177279.0,1859276.0,41.769185,-87.625732,"(41.769185486, -87.625732415)",31.0,22260.0,67.0,513.0,32.0

In [4]:
df['CASE#'].head()

0    JB234215
1    JB252109
2    JB234739
3    JB235067
4    JB234240
Name: CASE#, dtype: object

In [12]:
# write the dataframe out to a parquet file
df.to_parquet('crimes.snappy.parquet' ,engine='auto', compression='snappy')

In [13]:
!ls

crimes_1yr.csv	crimes.snappy.parquet  pyParquet.ipynb

In [14]:
import pyarrow.parquet as pq
data = pq.read_pandas('crimes.snappy.parquet', columns=['CASE#', 'DATE OF OCCURRENCE', 'SECONDARY DESCRIPTION']).to_pandas()

In [15]:
data.head()

      CASE#
0  JB234215
1  JB252109
2  JB234739
3  JB235067
4  JB234240

In [16]:
data2 = pq.read_pandas('crimes.snappy.parquet').to_pandas()

In [17]:
data2.head()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,...,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,JB234215,04/23/2018 05:09:00 AM,034XX W LEXINGTON ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,APARTMENT,N,Y,1133,...,1153536.0,1896488.0,41.871803,-87.711777,"(41.871803218, -87.711776916)",36.0,21572.0,28.0,685.0,14.0
1,JB252109,04/23/2018 05:27:00 AM,096XX S MERRION AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,N,Y,431,...,1192667.0,1841619.0,41.720372,-87.569902,"(41.720371905, -87.569902327)",43.0,21202.0,48.0,252.0,37.0
2,JB234739,04/23/2018 05:30:00 AM,088XX S MARSHFIELD AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,N,N,2221,...,1166885.0,1846110.0,41.733284,-87.664207,"(41.73328448, -87.664207228)",18.0,21554.0,70.0,488.0,13.0
3,JB235067,04/23/2018 05:45:00 AM,007XX E 83RD PL,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,N,N,632,...,1182553.0,1849881.0,41.743284,-87.606691,"(41.743283936, -87.606691467)",31.0,21546.0,40.0,140.0,32.0
4,JB234240,04/23/2018 05:45:00 AM,0000X W 69TH ST,0820,THEFT,$500 AND UNDER,CTA TRAIN,N,N,731,...,1177279.0,1859276.0,41.769185,-87.625732,"(41.769185486, -87.625732415)",31.0,22260.0,67.0,513.0,32.0