[Python and DynamoDB](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.Python.html)

### Create a table 

table=Movies and load sample data in JSON format.

In [38]:
import boto3
# Get the service resource.
dynamodb = boto3.resource('dynamodb')

In [39]:
try:
    # Create the DynamoDB table.
    table = dynamodb.create_table(
        TableName='users',
        KeySchema=[
            {
                'AttributeName': 'username',
                'KeyType': 'HASH'
            },
            {
                'AttributeName': 'last_name',
                'KeyType': 'RANGE'
            }
        ],
        AttributeDefinitions=[
            {
                'AttributeName': 'username',
                'AttributeType': 'S'
            },
            {
                'AttributeName': 'last_name',
                'AttributeType': 'S'
            },

        ],
        ProvisionedThroughput={
            'ReadCapacityUnits': 5,
            'WriteCapacityUnits': 5
        }
    )
    
    # Wait until the table exists.
    table.meta.client.get_waiter('table_exists').wait(TableName='users')

    # Print out some data about the table.
    print(table.item_count)

except Exception as e:
    if "Table already exists" in str(e):
        print("Table already exists")
    else:
        raise e

0

In [40]:
table = dynamodb.Table('users')

In [41]:
print(table.creation_date_time)

2019-01-25 22:39:29.301000-05:00

### Insert

In [42]:
table.put_item(
   Item={
        'username': 'john-smith',
        'first_name': 'John',
        'last_name': 'Smith',
        'age': 15,
        'account_type': 'standard_user',
    }
)

{'ResponseMetadata': {'RequestId': 'AS7F1UPS1I839AQOJD9UVFNADNVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Sat, 26 Jan 2019 03:40:21 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'AS7F1UPS1I839AQOJD9UVFNADNVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

In [43]:
table.put_item(
   Item={
        'username': 'janedoe',
        'first_name': 'Jane',
        'last_name': 'Doe',
        'age': 25,
        'account_type': 'standard_user',
    }
)

{'ResponseMetadata': {'RequestId': 'R1JNAMI2JUIUH10N2ILNKCCLQNVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Sat, 26 Jan 2019 03:40:22 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'R1JNAMI2JUIUH10N2ILNKCCLQNVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

In [44]:
print(table.item_count)

0

### read

In [45]:
response = table.get_item(
    Key={
        'username': 'janedoe',
        'last_name': 'Doe'
    }
)
item = response['Item']
print(item)

{'username': 'janedoe', 'account_type': 'standard_user', 'last_name': 'Doe', 'first_name': 'Jane', 'age': Decimal('25')}

### update

In [46]:
table.update_item(
    Key={
        'username': 'janedoe',
        'last_name': 'Doe'
    },
    UpdateExpression='SET age = :val1',
    ExpressionAttributeValues={
        ':val1': 26
    }
)

{'ResponseMetadata': {'RequestId': '6V3RHN7PVOAPA2SRLQICSSR23RVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Sat, 26 Jan 2019 03:40:32 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': '6V3RHN7PVOAPA2SRLQICSSR23RVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

In [47]:
response = table.get_item(
    Key={
        'username': 'janedoe',
        'last_name': 'Doe'
    }
)
item = response['Item']
print(item)

{'username': 'janedoe', 'account_type': 'standard_user', 'last_name': 'Doe', 'age': Decimal('26'), 'first_name': 'Jane'}

### delete

In [48]:
table.delete_item(
    Key={
        'username': 'janedoe',
        'last_name': 'Doe'
    }
)

{'ResponseMetadata': {'RequestId': 'UITIKGKPGIJKQ44O1OB0FIP0K7VV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Sat, 26 Jan 2019 03:40:37 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'UITIKGKPGIJKQ44O1OB0FIP0K7VV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '2745614147'},
  'RetryAttempts': 0}}

In [49]:
response = table.get_item(
    Key={
        'username': 'janedoe',
        'last_name': 'Doe'
    }
)
item = response['Item']
print(item)

KeyError: 'Item'

In [50]:
response = table.get_item(
    Key={
        'username': 'john-smith',
        'last_name': 'Smith'
    }
)
item = response['Item']
print(item)

{'username': 'john-smith', 'account_type': 'standard_user', 'last_name': 'Smith', 'first_name': 'John', 'age': Decimal('15')}

### Batch Writing

In [51]:
with table.batch_writer() as batch:
    batch.put_item(
        Item={
            'account_type': 'standard_user',
            'username': 'johndoe',
            'first_name': 'John',
            'last_name': 'Doe',
            'age': 25,
            'address': {
                'road': '1 Jefferson Street',
                'city': 'Los Angeles',
                'state': 'CA',
                'zipcode': 90001
            }
        }
    )
    batch.put_item(
        Item={
            'account_type': 'super_user',
            'username': 'janedoering',
            'first_name': 'Jane',
            'last_name': 'Doering',
            'age': 40,
            'address': {
                'road': '2 Washington Avenue',
                'city': 'Seattle',
                'state': 'WA',
                'zipcode': 98109
            }
        }
    )
    batch.put_item(
        Item={
            'account_type': 'standard_user',
            'username': 'bobsmith',
            'first_name': 'Bob',
            'last_name':  'Smith',
            'age': 18,
            'address': {
                'road': '3 Madison Lane',
                'city': 'Louisville',
                'state': 'KY',
                'zipcode': 40213
            }
        }
    )
    batch.put_item(
        Item={
            'account_type': 'super_user',
            'username': 'alicedoe',
            'first_name': 'Alice',
            'last_name': 'Doe',
            'age': 27,
            'address': {
                'road': '1 Jefferson Street',
                'city': 'Los Angeles',
                'state': 'CA',
                'zipcode': 90001
            }
        }
    )

In [53]:
with table.batch_writer() as batch:
    for i in range(50):
        batch.put_item(
            Item={
                'account_type': 'anonymous',
                'username': 'user' + str(i),
                'first_name': 'unknown',
                'last_name': 'unknown'
            }
        )

### Querying and Scanning

In [54]:
from boto3.dynamodb.conditions import Key, Attr

In [55]:
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [57]:
response = table.query(
    KeyConditionExpression=Key('username').eq('johndoe')
)
items = response['Items']
pp.pprint(items)

[   {   'account_type': 'standard_user',
        'address': {   'city': 'Los Angeles',
                       'road': '1 Jefferson Street',
                       'state': 'CA',
                       'zipcode': Decimal('90001')},
        'age': Decimal('25'),
        'first_name': 'John',
        'last_name': 'Doe',
        'username': 'johndoe'}]

In [58]:
type(items)

list

In [60]:
response = table.scan(
    FilterExpression=Attr('age').lt(27)
)
items = response['Items']
print(items)

[{'username': 'john-smith', 'account_type': 'standard_user', 'last_name': 'Smith', 'first_name': 'John', 'age': Decimal('15')}, {'username': 'johndoe', 'address': {'zipcode': Decimal('90001'), 'state': 'CA', 'road': '1 Jefferson Street', 'city': 'Los Angeles'}, 'account_type': 'standard_user', 'last_name': 'Doe', 'first_name': 'John', 'age': Decimal('25')}, {'username': 'bobsmith', 'address': {'zipcode': Decimal('40213'), 'state': 'KY', 'road': '3 Madison Lane', 'city': 'Louisville'}, 'account_type': 'standard_user', 'last_name': 'Smith', 'first_name': 'Bob', 'age': Decimal('18')}]

In [61]:
pp.pprint(items)

[   {   'account_type': 'standard_user',
        'age': Decimal('15'),
        'first_name': 'John',
        'last_name': 'Smith',
        'username': 'john-smith'},
    {   'account_type': 'standard_user',
        'address': {   'city': 'Los Angeles',
                       'road': '1 Jefferson Street',
                       'state': 'CA',
                       'zipcode': Decimal('90001')},
        'age': Decimal('25'),
        'first_name': 'John',
        'last_name': 'Doe',
        'username': 'johndoe'},
    {   'account_type': 'standard_user',
        'address': {   'city': 'Louisville',
                       'road': '3 Madison Lane',
                       'state': 'KY',
                       'zipcode': Decimal('40213')},
        'age': Decimal('18'),
        'first_name': 'Bob',
        'last_name': 'Smith',
        'username': 'bobsmith'}]

In [62]:
response = table.scan(
    FilterExpression=Attr('first_name').begins_with('J') & Attr('account_type').eq('super_user')
)
items = response['Items']
pp.pprint(items)

[   {   'account_type': 'super_user',
        'address': {   'city': 'Seattle',
                       'road': '2 Washington Avenue',
                       'state': 'WA',
                       'zipcode': Decimal('98109')},
        'age': Decimal('40'),
        'first_name': 'Jane',
        'last_name': 'Doering',
        'username': 'janedoering'}]

In [63]:
response = table.scan(
    FilterExpression=Key('username').begins_with('user')
)
items = response['Items']
pp.pprint(items)

[   {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user12'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user11'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user26'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user44'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user1'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user19'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user16'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user8'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user14'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user30'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user25'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user15'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user35'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user4'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user7'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user46'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user20'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user29'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user27'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user49'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user28'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user24'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user37'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user36'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user9'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user40'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user13'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user33'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user42'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user5'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user10'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user43'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user22'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user2'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user17'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user41'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user45'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user48'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user23'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user0'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user47'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user39'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user38'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user21'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user34'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user18'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user32'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user6'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user31'},
    {   'account_type': 'anonymous',
        'first_name': 'unknown',
        'last_name': 'unknown',
        'username': 'user3'}]

### Deleting a Table

In [64]:
# table.delete()