In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *

spark = SparkSession\
    .builder\
    .appName("chapter-04-overview")\
    .getOrCreate()

In [ ]:
df = spark.range(500).toDF("number")

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [4]:
df.select(df["number"] + 10).show(5)

+-------------+
|(number + 10)|
+-------------+
|           10|
|           11|
|           12|
|           13|
|           14|
+-------------+
only showing top 5 rows

In [5]:
df.selectExpr("number + 10").show(5)

+-------------+
|(number + 10)|
+-------------+
|           10|
|           11|
|           12|
|           13|
|           14|
+-------------+
only showing top 5 rows

In [6]:
df.select(F.col("number") + 10).show(5)

+-------------+
|(number + 10)|
+-------------+
|           10|
|           11|
|           12|
|           13|
|           14|
+-------------+
only showing top 5 rows

In [7]:
spark.range(2).collect()

[Row(id=0), Row(id=1)]

In [8]:
from pyspark.sql.types import *
b = ByteType()

In [10]:
type(b)

pyspark.sql.types.ByteType